[Unit]
Description=restund
Requires=network-online.target
After=network-online.target
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill restund
ExecStartPre=-/usr/bin/docker rm restund
ExecStart=/usr/bin/docker run \
  --ulimit nofile=90000:90000 \
  --network=host \
  --name restund \
  --user {{ restund_uid }}:{{ restund_user }} \
  --volume /etc/restund:/etc/restund:ro \
  --volume /etc/restund.conf:/etc/restund.conf:ro \
  quay.io/wire/restund:{{ restund_version }}

[Install]
WantedBy=multi-user.target
